/*Общие стили*/
* {
	margin: 0;
	outline: none;
}

h1, h2, h3, h4 {
	text-transform: uppercase;
}

h1 {}

h2.section-title {
	color: #F7A720;
	line-height: 1em;
}

h3 {
	color: #F7A720;
}

h4 {}

hr {
	border: none;
	height: 5px;
	background-color: #F7A720;
	margin: 1em auto;
}

hr.hr {
	width: 2.5%;
}

hr.hr-blck {
	width: 25%;
	margin: .5em auto 1em auto;
	background-color: white;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

a.btn {
	color: white;
	background-color: #F7A720;
	padding: 1em 5em;
	margin: 1.5em auto;
	display: block;
	border-radius: .25em;
	font-size: 1.25em;
}

a.btn:hover {
	text-decoration: underline;
}

p {
	line-height: 1.5em;
	font-size: 1.25em;
}

.wrapper {
	width: 75%;
	margin: 0 auto;
}

.block {
	padding: 7.5em 0;
	text-align: center;
}

.block > p {
	font-style: italic;
	color: #303030;
	margin: 1em 0;
}

.block .wrapper > a {
	display: flex;
	align-items: center;
	justify-content: center;
}

.block-clr {
	background-color: #F7A720;
}

.block-img {
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-blend-mode: overlay;
	background-color: rgba(0, 0, 0, .75);
}

.block-img p {
	color: white;
}

.clr {
	color: #F7A720;
	font-weight: bold;
}

.w-100 {
	width: 100%;
}

.d-block {
	display: block;
}

.d-flex {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.item {
	margin: 0 .5em;
}

.rect {
	width: .5em;
	height: .5em;
	background-color: #F7A720;
	margin: 0 1em;
	border-radius: 50%;
}

img.icon {
	width: 1.5em;
	margin: 0 .5em;
}

img.icon-bg {
	width: 5em;
	height: 5em;
}

.crumbs a {
	color: white;
}

.crumbs a:hover {
	text-decoration: underline;
}

.crumbs span {
	margin: 0 .5em;
	color: white;
}
/*----*/

/*Стили "шапки"*/
header {
	z-index: 20;
	position: absolute;
	width: 100%;
	padding: 2.5em 0;
	border-bottom: 3px solid #F7A720;
}

header.sticky {
	position: fixed;
	padding: .25em 0;
	transition: .5s;
	background-color: rgb(255, 255, 255);
	top: 0;
	z-index: 30;
}

header .logo img {
	width: 10em;
	border: 3px solid #F7A720;
	border-radius: 50%;
	position: absolute;
	top: 45%;
	z-index: 40;
}

header .logo img.logo-light {
	width: 10%;
}

header .logo img.logo-sticky,
header.sticky .logo img.logo-light {
	display: none;
}

header.sticky .logo img.logo-sticky {
	display: block;
	position: static;
	border-radius: 0;
	border: none;
}

header .main-menu li {
	display: inline-block;
}

header .main-menu a {
	margin: 0 .5em;
	padding: 1.5em .5em;
	color: #F7A720;
	text-transform: uppercase;
	border-bottom: 3px solid transparent;
	font-weight: bold;
}

header .main-menu a:hover {
	border-color: #F7A720;
	padding: .5em;
	transition: .25s;
}

header .main-menu a.menu-trigger {
	display: none;
}
/*----*/

/*Стили "подвала"*/
footer {
	text-align: center;
	padding: 0 0 1.5em 0;
}

footer .top-footer .btn-top {
	padding: .25em 0;
	transition: .25s;
	margin-bottom: .5em;
}

footer .top-footer .btn-top:hover {
	background-color: rgba(0, 0, 0, .125);
}

footer .top-footer .btn-top img {
	width: 2.5em;
}
/*----*/

/*
#F1C530;
#DC8123;
#5E3916;
#4EBD46;
*/